<div class="card mb-3 mt-5" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img class="img-fluid rounded-start" src="assets/images/{{personne.path|defaultImage}}">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">CV {{personne.name}} {{personne.firstname}}</h5>
          <table class="table table-striped mt-3">
            <tbody>
              <tr>
                <td>Name</td>
                <td>{{personne.name}}</td>
              </tr>
              <tr>
                <td>Firstname</td>
                <td>{{personne.firstname}}</td>
              </tr>
              <tr>
                <td>Age</td>
                <td>{{personne.age}}</td>
              </tr>
              <tr>
                <td>Job</td>
                <td>{{personne.job}}</td>
              </tr>
              <tr>
                <td>Cin</td>
                <td>{{personne.cin}}</td>
              </tr>
            </tbody>
          </table>
          <button class="btn btn-danger" (click)="supprimer(personne)">Supprimer</button>
        </div>
      </div>
    </div>
</div>
